In [3]:
import json
import copy
import random

seed_examples = []
all_data = []

In [4]:
data = {
    'Student_ID': [1, 2, 3, 4, 5],
    'Age': [16, 17, 15, 16, 18],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Non-binary'],
    'Grade_Level': ['10th Grade', '11th Grade', '9th Grade', '10th Grade', '12th Grade'],
    'GPA': [3.8, 3.5, 3.9, 3.6, 4.0],
    'Favorite_Subject': ['Math', 'English', 'Science', 'History', 'Computer Science'],
    'Hours_Studied_Per_Week': [15, 12, 18, 10, 20],
    'Extracurricular_Activity': ['Soccer', 'Debate Club', 'Music Band', 'Drama Club', 'Robotics Club'],
    'Activity_Hours_Per_Week': [6, 4, 8, 5, 7],
    'School_Region': ['North America', 'Europe', 'Asia', 'South America', 'Africa']
}

all_data.append(data)

In [5]:
transportation_data = {
    'Vehicle_ID': [101, 102, 103, 104, 105],
    'Type': ['Car', 'Bicycle', 'Bus', 'Car', 'Bicycle'],
    'Manufacturer': ['Toyota', 'Giant', 'Volvo', 'Honda', 'Trek'],
    'Model': ['Corolla', 'Defy', '7900', 'Civic', 'Domane'],
    'Year': [2018, 2021, 2017, 2019, 2020],
    'Fuel_Type': ['Petrol', 'None', 'Diesel', 'Petrol', 'None'],
    'Mileage_km': [30000, 1500, 50000, 25000, 2000],
    'Owner_Age': [35, 28, 45, 40, 32],
    'Owner_Gender': ['Male', 'Female', 'Male', 'Female', 'Non-binary'],
    'Region': ['North America', 'Europe', 'Asia', 'South America', 'Africa']
}

all_data.append(transportation_data)

In [6]:
finance_data = {
    'Transaction_ID': [1001, 1002, 1003, 1004, 1005],
    'Date': ['2024-01-10', '2024-02-15', '2024-03-20', '2024-04-25', '2024-05-30'],
    'Account_Type': ['Savings', 'Checking', 'Savings', 'Investment', 'Checking'],
    'Amount': [2500, 1200, 1500, 5000, 800],
    'Currency': ['USD', 'USD', 'EUR', 'USD', 'EUR'],
    'Transaction_Type': ['Deposit', 'Withdrawal', 'Deposit', 'Deposit', 'Withdrawal'],
    'Account_Holder_Age': [30, 45, 28, 50, 35],
    'Account_Holder_Gender': ['Male', 'Female', 'Male', 'Female', 'Non-binary'],
    'Bank_Branch': ['New York', 'Los Angeles', 'Berlin', 'Chicago', 'Paris']
}

all_data.append(finance_data)

In [7]:
data = {
    'Student_ID': [1, 2, 3, 4, 5],
    'Age': [16, 17, 15, 16, 18],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Non-binary'],
    'Grade_Level': ['10th Grade', '11th Grade', '9th Grade', '10th Grade', '12th Grade'],
    'GPA': [3.8, 3.5, 3.9, 3.6, 4.0],
    'Favorite_Subject': ['Math', 'English', 'Science', 'History', 'Computer Science'],
    'Hours_Studied_Per_Week': [15, 12, 18, 10, 20],
    'Extracurricular_Activity': ['Soccer', 'Debate Club', 'Music Band', 'Drama Club', 'Robotics Club'],
    'Activity_Hours_Per_Week': [6, 4, 8, 5, 7],
    'School_Region': ['North America', 'Europe', 'Asia', 'South America', 'Africa']
}

all_data.append(data)

In [8]:
ecommerce_data = {
    'Order_ID': [2001, 2002, 2003, 2004, 2005],
    'Customer_ID': [501, 502, 503, 504, 505],
    'Order_Date': ['2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04', '2024-06-05'],
    'Product_Category': ['Electronics', 'Clothing', 'Books', 'Electronics', 'Clothing'],
    'Product_Name': ['Smartphone', 'T-Shirt', 'Novel', 'Laptop', 'Jeans'],
    'Quantity': [1, 3, 2, 1, 2],
    'Price_Per_Unit': [700, 20, 15, 1200, 40],
    'Total_Price': [700, 60, 30, 1200, 80],
    'Payment_Method': ['Credit Card', 'PayPal', 'Credit Card', 'Debit Card', 'PayPal'],
    'Shipping_Cost': [10, 5, 3, 15, 5]
}
all_data.append(ecommerce_data)

In [9]:
hotel_data = {
    'Booking_ID': [3001, 3002, 3003, 3004, 3005],
    'Customer_ID': [601, 602, 603, 604, 605],
    'Check_In_Date': ['2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05'],
    'Check_Out_Date': ['2024-07-05', '2024-07-06', '2024-07-07', '2024-07-08', '2024-07-09'],
    'Room_Type': ['Single', 'Double', 'Suite', 'Single', 'Double'],
    'Number_of_Nights': [4, 4, 4, 4, 4],
    'Price_Per_Night': [100, 150, 300, 100, 150],
    'Total_Cost': [400, 600, 1200, 400, 600],
    'Payment_Method': ['Credit Card', 'Debit Card', 'PayPal', 'Credit Card', 'Debit Card'],
    'Customer_Age': [30, 45, 28, 50, 35],
    'Customer_Gender': ['Male', 'Female', 'Male', 'Female', 'Non-binary']
}
all_data.append(hotel_data)

In [10]:
real_estate_data = {
    'Property_ID': [4001, 4002, 4003, 4004, 4005],
    'Location': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Property_Type': ['Apartment', 'House', 'Apartment', 'House', 'Apartment'],
    'Bedrooms': [2, 3, 1, 4, 2],
    'Bathrooms': [1, 2, 1, 3, 2],
    'Square_Feet': [850, 1200, 600, 2000, 950],
    'Price_USD': [750000, 850000, 400000, 1200000, 650000],
    'Listing_Date': ['2024-06-01', '2024-06-05', '2024-06-10', '2024-06-15', '2024-06-20'],
    'Agent_Name': ['John Doe', 'Jane Smith', 'Tom Johnson', 'Emily Davis', 'Michael Brown'],
    'Agent_Contact': ['john@example.com', 'jane@example.com', 'tom@example.com', 'emily@example.com', 'michael@example.com']
}
all_data.append(real_estate_data)

In [11]:
sports_data = {
    'Athlete_ID': [5001, 5002, 5003, 5004, 5005],
    'Name': ['Alice Smith', 'Bob Johnson', 'Charlie Brown', 'Daisy Miller', 'Ethan Davis'],
    'Age': [23, 28, 21, 25, 27],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Sport': ['Tennis', 'Basketball', 'Swimming', 'Soccer', 'Running'],
    'Event': ['Singles', 'Point Guard', '100m Freestyle', 'Forward', 'Marathon'],
    'Country': ['USA', 'Canada', 'UK', 'Australia', 'Kenya'],
    'Personal_Best_Time': [2.1, 12.3, 50.5, 4.8, 122.4],
    'Medals_Won': [3, 5, 2, 4, 6],
    'Coach_Name': ['John Doe', 'Jane Smith', 'Tom Johnson', 'Emily Davis', 'Michael Brown']
}
all_data.append(sports_data)

In [12]:
startup_data = {
    'Company_ID': [6001, 6002, 6003, 6004, 6005],
    'Company_Name': ['Tech Innovators', 'Health Solutions', 'EduTech', 'Green Energy', 'FinTech Ventures'],
    'Founding_Year': [2015, 2018, 2016, 2017, 2019],
    'Industry': ['Technology', 'Healthcare', 'Education', 'Energy', 'Finance'],
    'Employees': [50, 80, 30, 60, 40],
    'Annual_Revenue_Million_USD': [10, 15, 8, 20, 12],
    'Funding_Stage': ['Series A', 'Series B', 'Seed', 'Series C', 'Series A'],
    'Headquarters_Location': ['San Francisco', 'New York', 'London', 'Berlin', 'Singapore'],
    'CEO_Name': ['Alice White', 'Bob Green', 'Charlie Black', 'Daisy Blue', 'Ethan Red']
}
all_data.append(startup_data)

In [13]:
retail_data = {
    'Product_ID': [7001, 7002, 7003, 7004, 7005],
    'Product_Name': ['Laptop', 'Smartphone', 'Headphones', 'Smartwatch', 'Tablet'],
    'Category': ['Electronics', 'Electronics', 'Accessories', 'Electronics', 'Electronics'],
    'Price_USD': [1200, 800, 150, 300, 500],
    'Units_Sold': [150, 200, 300, 100, 180],
    'Revenue_USD': [180000, 160000, 45000, 30000, 90000],
    'Store_Location': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Sales_Date': ['2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04', '2024-06-05'],
    'Sales_Person': ['John Doe', 'Jane Smith', 'Tom Johnson', 'Emily Davis', 'Michael Brown']
}
all_data.append(retail_data)

In [14]:
movie_data = {
    'Movie_ID': [8001, 8002, 8003, 8004, 8005],
    'Title': ['The Great Adventure', 'Romantic Escape', 'Mystery Night', 'Sci-Fi Universe', 'Comedy Central'],
    'Genre': ['Adventure', 'Romance', 'Mystery', 'Sci-Fi', 'Comedy'],
    'Release_Year': [2020, 2019, 2021, 2022, 2018],
    'Duration_Minutes': [120, 90, 110, 130, 95],
    'Rating': [8.5, 7.8, 8.0, 7.5, 6.9],
    'Box_Office_Million_USD': [300, 150, 200, 350, 100],
    'Director': ['Alice Johnson', 'Bob Smith', 'Charlie Lee', 'Diana King', 'Ethan White'],
    'Lead_Actor': ['John Doe', 'Jane Smith', 'Tom Johnson', 'Emily Davis', 'Michael Brown']
}
all_data.append(movie_data)

In [15]:
travel_data = {
    'Destination_ID': [9001, 9002, 9003, 9004, 9005],
    'Destination_Name': ['Paris', 'Tokyo', 'New York', 'Sydney', 'Cape Town'],
    'Country': ['France', 'Japan', 'USA', 'Australia', 'South Africa'],
    'Continent': ['Europe', 'Asia', 'North America', 'Australia', 'Africa'],
    'Average_Cost_USD': [2000, 2500, 3000, 2200, 1800],
    'Average_Days_Stay': [7, 8, 5, 10, 6],
    'Main_Attraction': ['Eiffel Tower', 'Mount Fuji', 'Statue of Liberty', 'Sydney Opera House', 'Table Mountain'],
    'Best_Season': ['Spring', 'Autumn', 'Winter', 'Summer', 'Spring'],
    'Visitor_Rating': [9.0, 8.5, 9.5, 8.0, 8.8],
    'Number_of_Visitors_Million': [19, 15, 13, 10, 5]
}
all_data.append(travel_data)

In [16]:
healthcare_data = {
    'Patient_ID': [1001, 1002, 1003, 1004, 1005],
    'Name': ['John Smith', 'Emma Johnson', 'Liam Brown', 'Olivia Davis', 'Ava Wilson'],
    'Age': [34, 29, 45, 38, 50],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Female'],
    'Condition': ['Diabetes', 'Hypertension', 'Asthma', 'Arthritis', 'Heart Disease'],
    'Treatment': ['Insulin', 'Beta Blockers', 'Inhaler', 'Pain Relievers', 'Statins'],
    'Doctor': ['Dr. Adams', 'Dr. Baker', 'Dr. Clark', 'Dr. Davis', 'Dr. Evans'],
    'Hospital': ['City Hospital', 'General Hospital', 'Community Clinic', 'City Hospital', 'General Hospital'],
    'Visit_Date': ['2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04', '2024-06-05'],
    'Next_Visit_Date': ['2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05']
}
all_data.append(healthcare_data)

In [17]:
education_data = {
    'Student_ID': [1101, 1102, 1103, 1104, 1105],
    'Name': ['Alice Brown', 'Brian Clark', 'Catherine Green', 'Daniel Harris', 'Eva Johnson'],
    'Age': [16, 17, 16, 18, 17],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Grade_Level': ['10th', '11th', '10th', '12th', '11th'],
    'Math_Score': [85, 90, 88, 92, 87],
    'English_Score': [78, 85, 82, 88, 90],
    'Science_Score': [92, 88, 91, 90, 89],
    'History_Score': [80, 84, 86, 87, 85],
    'GPA': [3.8, 3.9, 3.85, 4.0, 3.9],
    'Extracurricular_Activity': ['Basketball', 'Debate Club', 'Music Band', 'Student Council', 'Drama Club']
}
all_data.append(education_data)

In [18]:
investment_data = {
    'Investor_ID': [1201, 1202, 1203, 1204, 1205],
    'Name': ['Oliver Smith', 'Sophia Johnson', 'Liam Brown', 'Emma Davis', 'Noah Wilson'],
    'Age': [45, 38, 50, 42, 35],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Portfolio_Value_USD': [500000, 300000, 750000, 400000, 600000],
    'Stocks_Percentage': [60, 50, 70, 55, 65],
    'Bonds_Percentage': [25, 30, 20, 35, 25],
    'Real_Estate_Percentage': [10, 15, 5, 5, 5],
    'Other_Investments_Percentage': [5, 5, 5, 5, 5],
    'Annual_Return_Percentage': [8, 7, 9, 7.5, 8.5],
    'Risk_Level': ['Medium', 'Low', 'High', 'Medium', 'Medium']
}
all_data.append(investment_data)

In [19]:
marketing_data = {
    'Campaign_ID': [1301, 1302, 1303, 1304, 1305],
    'Campaign_Name': ['Spring Sale', 'Summer Discounts', 'Back to School', 'Holiday Offers', 'New Year Specials'],
    'Start_Date': ['2024-03-01', '2024-06-01', '2024-08-15', '2024-11-20', '2024-12-26'],
    'End_Date': ['2024-03-31', '2024-06-30', '2024-09-15', '2024-12-31', '2025-01-10'],
    'Budget_USD': [50000, 60000, 45000, 80000, 70000],
    'Actual_Spend_USD': [48000, 58000, 43000, 79000, 69000],
    'Impressions': [500000, 600000, 450000, 800000, 700000],
    'Clicks': [50000, 60000, 45000, 80000, 70000],
    'Conversions': [5000, 6000, 4500, 8000, 7000],
    'ROI_Percentage': [20, 25, 15, 30, 28]
}
all_data.append(marketing_data)

In [20]:
air_quality_data = {
    'Station_ID': [1401, 1402, 1403, 1404, 1405],
    'City': ['Los Angeles', 'New York', 'Chicago', 'Houston', 'Phoenix'],
    'Date': ['2024-06-01', '2024-06-01', '2024-06-01', '2024-06-01', '2024-06-01'],
    'PM2.5_Level': [55, 40, 35, 50, 60],
    'PM10_Level': [70, 55, 45, 65, 75],
    'NO2_Level': [30, 25, 20, 28, 32],
    'O3_Level': [40, 35, 30, 38, 45],
    'CO_Level': [0.9, 0.8, 0.7, 0.85, 1.0],
    'Temperature_C': [25, 23, 22, 28, 30],
    'Humidity_Percentage': [40, 45, 50, 35, 30]
}
all_data.append(air_quality_data)

In [21]:
employee_performance_data = {
    'Employee_ID': [1501, 1502, 1503, 1504, 1505],
    'Name': ['Jack Williams', 'Olivia Brown', 'Sophia Johnson', 'Liam Jones', 'Emma Davis'],
    'Age': [30, 45, 28, 35, 40],
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Female'],
    'Department': ['Sales', 'Marketing', 'IT', 'HR', 'Finance'],
    'Position': ['Sales Manager', 'Marketing Director', 'IT Specialist', 'HR Manager', 'Finance Analyst'],
    'Years_at_Company': [5, 10, 3, 7, 8],
    'Monthly_Salary_USD': [6000, 8000, 5000, 7000, 7500],
    'Performance_Score': [85, 90, 80, 88, 92],
    'Last_Promotion_Year': [2022, 2020, 2023, 2021, 2019],
    'Projects_Completed': [12, 15, 10, 14, 18]
}
all_data.append(employee_performance_data)

In [22]:
shipment_data = {
    'Shipment_ID': [1601, 1602, 1603, 1604, 1605],
    'Origin_City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Destination_City': ['London', 'Tokyo', 'Berlin', 'Sydney', 'Paris'],
    'Shipping_Company': ['DHL', 'FedEx', 'UPS', 'TNT', 'Maersk'],
    'Shipment_Weight_kg': [500, 300, 700, 400, 600],
    'Shipment_Value_USD': [20000, 15000, 30000, 25000, 35000],
    'Shipping_Cost_USD': [2000, 1500, 2500, 2200, 2700],
    'Departure_Date': ['2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04', '2024-06-05'],
    'Arrival_Date': ['2024-06-10', '2024-06-12', '2024-06-13', '2024-06-14', '2024-06-15'],
    'Status': ['Delivered', 'In Transit', 'Delivered', 'In Transit', 'Delivered']
}
all_data.append(shipment_data)

In [23]:
purchase_history_data = {
    'Customer_ID': [1701, 1702, 1703, 1704, 1705],
    'Name': ['Alice Johnson', 'Brian Smith', 'Catherine Lee', 'David Brown', 'Eva Green'],
    'Age': [34, 28, 45, 40, 35],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Total_Purchases': [15, 22, 8, 30, 18],
    'Total_Spent_USD': [1500, 2200, 800, 3000, 1800],
    'Favorite_Category': ['Electronics', 'Clothing', 'Home Goods', 'Electronics', 'Beauty'],
    'Average_Purchase_Value_USD': [100, 100, 100, 100, 100],
    'Last_Purchase_Date': ['2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04', '2024-06-05'],
    'Loyalty_Member': [True, True, False, True, False]
}
all_data.append(purchase_history_data)

In [24]:
len(all_data)

20

In [25]:
import openai

client = openai.OpenAI()

prompt = "Rephrase into English: {}"

def call_gpt(question):
    response = client.chat.completions.create(
        model="gpt-3.5-turbo",
        messages=[{"role": "user", "content": prompt.format(question)}],
        temperature=1.0,
        n=1
    )
    return response.choices[0].message.content

In [118]:
chart_type = ["Bar", "Line", "Pie", "Scatter", "Area"][2]
operation = ["Reference", "Highlight", "Trendline", "Statistic-min", "Statistic-max", "Statistic-mean", "Label", "Extension", "Creation"][7]

In [119]:
import sys

data_json = random.choice(all_data)
data_columns = list(data_json.keys())
if chart_type == "Pie":
    _fileds = random.choices(data_columns, k=2)
else:
    _num = random.choice(range(2, len(data_columns) + 1))
    _fileds = random.choices(data_columns, k=_num)
random.shuffle(_fileds)
x_field = _fileds[0]
y_field = _fileds[1:]

print("Source-Data-Fields: ", data_columns)
print("Chart-Type: ", chart_type)
print("X-Field: ", x_field)
print("X-Field Data: ", data_json[x_field])
print("Y-Field: ", y_field)
print("Operation: ", operation)
sys.stdout.flush()

_question = input("Input Question: ")
question = call_gpt(_question).strip()
x_value = input("X-Value").strip()
y_value = input("Y-Value").strip()

if x_value.startswith("[") and x_value.endswith("]"):
    x_value = eval(x_value)
elif x_value == "null":
    x_value = None

if y_value.startswith("[") and y_value.endswith("]"):
    y_value = eval(y_value)
elif y_value == "null":
    y_value = None

print("Question: ", question)
print("X-Value: ", x_value)
print("Y-Value: ", y_value)
sys.stdout.flush()

new_example = {
    "Question": question,
    "Data-Info": {
      "Data-Columns": data_columns
    },
    "Chart-Info": {
        "Chart-Type": chart_type,
        "X-Field": x_field,
        "Y-Field": y_field
    },
    "Overlay": {
        "Operation": operation,
        "X-Value": x_value,
        "Y-Value": y_value
    }
}
seed_examples.append(copy.deepcopy(new_example))
print("Examples Size: ", len(seed_examples))
json.dump(seed_examples, open("./seed_examples.json", "w", encoding="utf-8"), indent=2)

Source-Data-Fields:  ['Athlete_ID', 'Name', 'Age', 'Gender', 'Sport', 'Event', 'Country', 'Personal_Best_Time', 'Medals_Won', 'Coach_Name']
Chart-Type:  Pie
X-Field:  Name
X-Field Data:  ['Alice Smith', 'Bob Johnson', 'Charlie Brown', 'Daisy Miller', 'Ethan Davis']
Y-Field:  ['Age']
Operation:  Extension
Question:  Help me expand Ethan Davis' data onto this pie chart.
X-Value:  Ethan Davis
Y-Value:  all
Examples Size:  90

In [67]:
seed_examples = json.load(open("./seed_examples.json"))[:-1]

### Fix duplicated fields and number value

In [1]:
import json

seed_examples = json.load(open("./seed_examples.json"))

for example in seed_examples:
    example["Data-Info"]["Data-Fields"] = list(set(example["Data-Info"]["Data-Columns"]))
    del example["Data-Info"]["Data-Columns"]
    example["Chart-Info"]["Y-Field"] = list(set(example["Chart-Info"]["Y-Field"]))
    x_value = example["Overlay"]["X-Value"]
    if x_value is not None and isinstance(x_value, str) and x_value.isdigit():
        example["Overlay"]["X-Value"] = eval(x_value)
        print(example)
fixed_seed_examples = json.dump(seed_examples, open("./fixed_seed_examples.json", "w", encoding="utf-8"), indent=2)

{'Question': 'Add a vertical reference line for the data with the X-axis at 15.', 'Data-Info': {'Data-Fields': ['Department', 'Gender', 'Years_at_Company', 'Name', 'Position', 'Monthly_Salary_USD', 'Projects_Completed', 'Employee_ID', 'Last_Promotion_Year', 'Age', 'Performance_Score']}, 'Chart-Info': {'Chart-Type': 'Line', 'X-Field': 'Projects_Completed', 'Y-Field': ['Last_Promotion_Year', 'Gender', 'Projects_Completed', 'Employee_ID']}, 'Overlay': {'Operation': 'Reference', 'X-Value': 15, 'Y-Value': None}}
{'Question': 'Highlight the sector with a temperature of 28 degrees.', 'Data-Info': {'Data-Fields': ['Temperature_C', 'NO2_Level', 'PM2.5_Level', 'City', 'Station_ID', 'Humidity_Percentage', 'O3_Level', 'Date', 'CO_Level', 'PM10_Level']}, 'Chart-Info': {'Chart-Type': 'Pie', 'X-Field': 'Temperature_C', 'Y-Field': ['Temperature_C']}, 'Overlay': {'Operation': 'Highlight', 'X-Value': 28, 'Y-Value': 'all'}}
{'Question': 'Add the data for units sold of 300 to the x-axis in the graph.', 'Data-Info': {'Data-Fields': ['Units_Sold', 'Category', 'Sales_Date', 'Product_Name', 'Revenue_USD', 'Store_Location', 'Product_ID', 'Sales_Person', 'Price_USD']}, 'Chart-Info': {'Chart-Type': 'Bar', 'X-Field': 'Units_Sold', 'Y-Field': ['Sales_Date', 'Product_Name', 'Product_ID', 'Sales_Person', 'Price_USD']}, 'Overlay': {'Operation': 'Extension', 'X-Value': 300, 'Y-Value': 'all'}}
{'Question': 'Include the data for the age of 50 in the pie chart.', 'Data-Info': {'Data-Fields': ['Gender', 'Patient_ID', 'Doctor', 'Name', 'Condition', 'Age', 'Treatment', 'Hospital', 'Visit_Date', 'Next_Visit_Date']}, 'Chart-Info': {'Chart-Type': 'Pie', 'X-Field': 'Age', 'Y-Field': ['Name']}, 'Overlay': {'Operation': 'Extension', 'X-Value': 50, 'Y-Value': 'all'}}
{'Question': 'Emphasize the data for the number 4.', 'Data-Info': {'Data-Fields': ['Customer_Gender', 'Price_Per_Night', 'Payment_Method', 'Total_Cost', 'Customer_ID', 'Number_of_Nights', 'Check_Out_Date', 'Room_Type', 'Booking_ID', 'Customer_Age', 'Check_In_Date']}, 'Chart-Info': {'Chart-Type': 'Scatter', 'X-Field': 'Number_of_Nights', 'Y-Field': ['Price_Per_Night', 'Total_Cost', 'Customer_ID', 'Room_Type', 'Booking_ID']}, 'Overlay': {'Operation': 'Highlight', 'X-Value': 4, 'Y-Value': 'all'}}
{'Question': 'The area with a highlight value of 20,000', 'Data-Info': {'Data-Fields': ['Destination_City', 'Shipping_Company', 'Shipment_Weight_kg', 'Departure_Date', 'Shipping_Cost_USD', 'Origin_City', 'Shipment_ID', 'Arrival_Date', 'Shipment_Value_USD', 'Status']}, 'Chart-Info': {'Chart-Type': 'Pie', 'X-Field': 'Shipment_Value_USD', 'Y-Field': ['Shipment_ID']}, 'Overlay': {'Operation': 'Highlight', 'X-Value': 20000, 'Y-Value': 'all'}}